<div class="container">
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
 <div class="mail-box">
      <aside class="lg-side">
          <div class="inbox-head">
              <h3>Inbox</h3>
              <form action="#" class="pull-right position">
                  <div class="input-append">
                      <input type="text" class="sr-input" placeholder="Search Inbox">
                      <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                  </div>
              </form>
          </div>
          <div class="inbox-body">
              <div class="mail-option">
                  <div class="chk-all">
                      <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                      <div class="btn-group">
                          <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                              All
                              <i class="fa fa-angle-down "></i>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="#"> None</a></li>
                              <li><a href="#"> Read</a></li>
                              <li><a href="#"> Unread</a></li>
                          </ul>
                      </div>
                  </div>

                  <div class="btn-group">
                      <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                          <i class=" fa fa-refresh"></i>
                      </a>
                  </div>
                  <div class="btn-group">
                      <a data-toggle="dropdown" href="#" class="btn mini blue">
                          Move to
                          <i class="fa fa-angle-down "></i>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                          <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                          <li class="divider"></li>
                          <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                      </ul>
                  </div>

                  <ul class="unstyled inbox-pagination">
                      <li><span>'1' of '1'</span></li>
                      <li>
                          <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                      </li>
                      <li>
                          <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                      </li>
                  </ul>
              </div>
              <table class="table table-inbox-title">
                  <tbody>
                    <tr >
                        <td>

                        </td>
                        <td> From </td>
                        <td> Title </td>
                        <td style="float: right;" class="pull right"> Date </td>
                    </tr>
                </tbody>
                </table>
              <table class="table table-inbox table-hover">
                <tbody>
                  <tr class="unread">
                      <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                      </td>
                      <td class="view-message  dont-show"><a href="#">From user</a></td>
                      <td class="view-message "><a href="#">Message title</a></td>
                      <td class="view-message  text-right">Time sent</td>
                  </tr>
              </tbody>
              </table>
          </div>
      </aside>
  </div>
</div>
