<mat-tab-group>
    <mat-tab label="User Info">
        <app-profile-nav [userLoggedIn]="displayUser" [displayCurrentUser]="displayCurrentUser" [profileId]="profileId" id="nav"></app-profile-nav>
    </mat-tab>
    <mat-tab label="Blog Posts">
        <div class="container">
          <app-profile-content [displayUser]="displayUser" [profileId]="profileId" [displayCurrentUser]="displayCurrentUser" id="content"></app-profile-content>
        </div>
    </mat-tab>
    <mat-tab *ngIf="displayCurrentUser">
      <ng-template matTabLabel>
        <span matBadge="4" matBadgeOverlap="false">Inbox</span>
      </ng-template>
      <app-user-inbox [displayUser]="displayUser" [displayCurrentUser]="displayCurrentUser" [profileId]="profileId" id="inbox"></app-user-inbox>
  </mat-tab>
</mat-tab-group>
